*{
    margin: 10px;
    padding: 0;
    background-color: var(--main-bg-color);
    font-family: "Cairo", sans-serif;
    font-weight: bold;
}
:root{
    --dark-navy:#014479;
    --vivid-blue:#1378CA;
    --pastel-blue:#BAE0FF;
    --off-white:#EAF2FA;
    --main-bg-color:#FEFEFE;
    --gray:#818390
}
main{
    padding-top: 2%;
    width: 95%;
    margin:auto;
}
@media (min-width: 576px) {
    main{
        width:90%;
    }
}
@media (min-width: 768px) { 
    main{
        width:85%
    }
}
@media (min-width: 992px) { 
    main{
        width:60%
    }
}
h1{
    color: var(--dark-navy);
    font-size: 2rem;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
    padding: 1%;
    width: 100%;
}
h3{
    color: var(--vivid-blue);
    font-size: 1.2rem;
}
h4{
    color: var(--vivid-blue);
}
@media print {
    button {
        display: none;
    }
}
#patient-details{
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
    padding: 1%;
    width: 100%;
}
#patient-details div{
    display: flex;
}
.details{
    display: flex;
    gap:1%;
}
label{
    color: var(--vivid-blue);
    font-size: 1.2rem;
}
form{
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
button:enabled{
    background-color: var(--vivid-blue);
    color: var(--off-white);
    border: none;
    border-radius: 6px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 44px;
    transition: 0.4s;
}
button:disabled
{
    background-color: var(--gray);
    color: var(--off-white);
    border: none;
    border-radius: 6px;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 44px;
    cursor: not-allowed;
}
button:hover:enabled{
    background-color: var(--dark-navy);
    opacity: 0.9;
    /* color: var(--dark-navy); */
    border: 1px solid var(--dark-navy);
}
.add{
    background-color: var(--vivid-blue);
    color: var(--off-white);
    border: none;
    border-radius: 6px;
    padding: 1%;
    margin-left: 1%;
    height: 44px;
    width: 20%;
}
textarea{
    border:1px solid #000000;
    border-radius: 6px;
    padding: 1%;
}
#medicine th{
    color:var(--vivid-blue);
    border: 1px solid var(--vivid-blue);
    border-radius: 6px;
    padding: 2%;
}
#medicine tr td{
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 2%;
}
.selected{
    border:2px solid red;
}